DATABASE_URL=mysql://user:pass@host:3306/database
SHADOW_DATABASE_URL=mysql://user:pass@host:3306/database_shadow
SESSION_SECRET=your_session_secret_key# run node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
INITIAL_USER_PASSWORD=your_initial_password_for_seeding