DATABASE_URL=mysql://user:pass@host:3306/database
SHADOW_DATABASE_URL=mysql://user:pass@host:3306/database_shadow
SESSION_SECRET=your_session_secret_key# run node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
INITIAL_USER_PASSWORD=your_initial_password_for_seeding

# Notification API
NOTIFICATION_API_URL=
NOTIFICATION_TOKEN_API_URL=
NOTIFICATION_TOKEN_NAME=
NOTIFICATION_TOKEN_EMAIL=
NOTIFICATION_TOKEN_APPSNAME=
APP_URL=http://localhost:3000